# Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [1]:
import pandas as pd
import os

data2 = pd.read_csv(os.path.join('..', '..', 'assets', 'dataset', 'ozone.csv'))

In [2]:
print data2.tail()

     Ozone  Solar.R  Wind  Temp  Month  Day
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

Print the column names of the dataset to the screen, one column name per line.

In [3]:
for i in data2:
    print i

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [5]:
data2[["Ozone", "Solar.R"]]

     Ozone  Solar.R
0     41.0    190.0
1     36.0    118.0
2     12.0    149.0
3     18.0    313.0
4      NaN      NaN
5     28.0      NaN
6     23.0    299.0
7     19.0     99.0
8      8.0     19.0
9      NaN    194.0
10     7.0      NaN
11    16.0    256.0
12    11.0    290.0
13    14.0    274.0
14    18.0     65.0
15    14.0    334.0
16    34.0    307.0
17     6.0     78.0
18    30.0    322.0
19    11.0     44.0
20     1.0      8.0
21    11.0    320.0
22     4.0     25.0
23    32.0     92.0
24     NaN     66.0
25     NaN    266.0
26     NaN      NaN
27    23.0     13.0
28    45.0    252.0
29   115.0    223.0
..     ...      ...
123   96.0    167.0
124   78.0    197.0
125   73.0    183.0
126   91.0    189.0
127   47.0     95.0
128   32.0     92.0
129   20.0    252.0
130   23.0    220.0
131   21.0    230.0
132   24.0    259.0
133   44.0    236.0
134   21.0    259.0
135   28.0    238.0
136    9.0     24.0
137   13.0    112.0
138   46.0    237.0
139   18.0    224.0
140   13.0     27.0
141   24.0    238.0
142   16.0    201.0
143   13.0    238.0
144   23.0     14.0
145   36.0    139.0
146    7.0     49.0
147   14.0     20.0
148   30.0    193.0
149    NaN    145.0
150   14.0    191.0
151   18.0    131.0
152   20.0    223.0

[153 rows x 2 columns]

How many observations (i.e. rows) are in this data frame?

In [9]:
data2.count()

Ozone      116
Solar.R    146
Wind       153
Temp       153
Month      153
Day        153
dtype: int64

There are 153 rows in the dataset.

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [10]:
data2[151:153]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [24]:
data2[46:47].Ozone

46    21.0
Name: Ozone, dtype: float64

How many missing values are in the Ozone column of this data frame?

In [28]:
pd.isnull(data2["Ozone"]).sum()

37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [38]:
data2["Ozone"].dropna().mean()

42.12931034482759

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [62]:
Modified_Dataset = data2[(data2.Ozone > 31) & (data2.Temp > 90)]
Modified_Dataset["Solar.R"].mean()

212.8

What is the mean of "Temp" when "Month" is equal to 6?

In [64]:
Modified_Dataset_2 = data2[data2.Month == 6]
Modified_Dataset_2["Temp"].mean()

79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [66]:
Modified_Dataset_3 = data2[data2.Month == 5]
Modified_Dataset_3["Ozone"].max()

115.0

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Examples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas